



#background{
   background: linear-gradient( to bottom, black, #29132e);
   
}


.menu-flex{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
    
}
.list__text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
}

.list-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.list-menu li{
    padding: 20px;
} 

.list-menu li a:hover{
    text-shadow: 0 0 5px  #831187, 0 0 15px  #831187, 0 0 30px  #831187, 0 0 50px  #831187;
}



a{
    color: aliceblue;
    text-decoration: none;
}


/*nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}*/
#titulo{
    font-family: fantasy;
    color: white;
    align-content: center;
    letter-spacing: 2px;
    word-spacing: 3px;
    /*background-color: #ff901f;*/
    width: max-content;
    height: 50px;
}

.title--container {
    display: flex;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: inset 0 0 5px #ff901f, 0 0 15px #ff901f;
    margin: auto;
    padding: 15px;
    text-align: center;
}
.contenido {
    width: 90%;
    max-width: 1000px;
    margin: 10px auto;
    display: grid;
    gap: 15px;
    /* grid-template-columns: repeat(4, 1fr) 3%; */
    grid-template-columns: auto auto auto auto;
    height: auto;
   /* grid-template-rows: repeat(2, 1fr);*/
}

.content-left{
    grid-column: 1/2;
    border-color: white;
    display: grid;
    grid-template-columns: 130px 130px;
    grid-template-rows: 350px 350px;

    
}

article{
    padding: 15px;
}

.content-left article p{
    color: white;
}

.content__left--border{
    border-left: 2px solid white;
    box-shadow: inset 0 0 5px #ff901f, 0 0 15px #ff901f;
}

.content-right{
    grid-column: 2/4;
    border-color: black;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 350px 350px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}



.images-bands img{
    width: 200px;
    height: 200px;
}

.images-bands p{
    color: white;
}

.images-bands h2{
    padding-top: 10px;
}

.images-bands{
    margin: 20px;
}


@media (max-width: 700px) {
    .contenido{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .content-left {
        grid-template-columns: auto;
        display: flex;
        flex-direction: column;
    }

    .content-right{
        grid-template-columns: auto;
    }

    .content__left--border{
        border-left: none;
        box-shadow: none;
    }

}


.container-footer{
    background: none;
    width: 100%;
    height: 100px;
}


/*animacion de imagenes*/
img:hover{
    -webkit-transform:scale(0.8);transform:scale(0.8);
    transition: all 0.5s;
}
